/**font-family: 'Playfair Display', serif; //
//font-family: 'Poppins', sans-serif;  */

body {
  background: white;
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: #f9f7fe;
  text-align: center;
}

.hero p {
  font-family: "Playfair Display", serif;
}
